body {
  background-color: #e6e6e6;
}
h1 {
  color: #4775d1;
  text-shadow: 2px 2px 4px #000000;
}
p {
  color: #40bf80;
}
#abc {
  background-color: #cccccc;
  width: 500px;
  border-style: solid;
  border-color: #660022;
  border-width: 5px;
  border-radius: 15px;
  padding: 50px;
  margin: 50px;
  box-shadow: 10px 10px 5px #660022;
}
